<div class="wrapper fadeInDown pad" *ngIf="!isLoading">
  <div id="formContent">
    <div class="fadeIn first">
      <h1 class="caret-color">Sign Up</h1>
    </div>
    <div *ngIf="hasError" class="alert alert-danger m-30">
      <span *ngIf="error.email">
       Email {{error.email}}
      </span>
      <br>
      <span *ngIf="error.username">
       Username {{error.username}}
      </span>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formRegister">
      <input
        type="text"
        id="username"
        class="fadeIn second "
        name="username"
        placeholder="username"
        formControlName="username"
        [(ngModel)]="usernameInput"
        required
      />
      <div
        *ngIf="
          formRegister.controls['username']?.errors?.['required'] &&
          formRegister.controls['username']?.touched
        "
        class="alert alert-danger m-30"
      >
        Username is required
      </div>
      <input
        type="text"
        id="email"
        class="fadeIn second "
        name="email"
        placeholder="email"
        formControlName="email"
        [(ngModel)]="emailInput"
        required
      />
      <div
        *ngIf="
          formRegister.controls['email']?.errors?.['required'] &&
          formRegister.controls['email']?.touched
        "
        class="alert alert-danger m-30"
      >
        Email is required
      </div>
      <div
        *ngIf="
          formRegister.controls['email']?.errors?.['email'] &&
          formRegister.controls['email']?.dirty
        "
        class="alert alert-danger m-30"
      >
        Email is invalid
      </div>
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
        formControlName="password"
        [(ngModel)]="passwordInput"
      />
      <div
        *ngIf="
          formRegister.controls['password']?.errors?.['required'] &&
          formRegister.controls['password']?.touched
        "
        class="alert alert-danger m-30"
      >
        Password is required
      </div>
      <input
        type="submit"
        class="fadeIn fourth"
        value="Register"
        [disabled]="
          usernameInput === '' || emailInput === '' || passwordInput === ''
        "
      />
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/auth">Have an account?</a>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="d-flex justify-content-center" style="margin-top: 200px;">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
