.article-section {
  .article-header {
    padding: 4px 0;
    border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.8);
    .mobile {
      display: none;
    }
    &-item {
      box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 0px 10px 30px 5px white;
      border-radius: 5px;
      background-color: #00ffef;
      padding: 4px 8px;
      cursor: pointer;
      transition: all 0.2s linear;
    }
    &-item.active {
      color: var(--active-color);
      position: relative;
    }
    &-item.active::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -6px;
      height: 3px;
      background-color: var(--active-color);
      transition: all 0.2s linear;
    }
  }
  .article-user-img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .article-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      margin: 0 -8px;
    }
    li:hover {
      background-color: #ccc;
    }

    li {
      margin: 8px 8px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      // Test CSS
      box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 0px 10px 30px 5px rgb(255 255 255);
      padding: 2px 16px;
      width: 100%;
      height: 280px;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      overflow: hidden;
      display: flex;

      .image-item {
        width: 200px;
        height: 200px;
        align-self: center;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .article-item-wrap {
        flex: 1;
      }
    }
  }
}
.skeleton {
  width: 100%;
  min-height: 200px;
  box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 0px 10px 30px 5px rgb(255 255 255);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;

  .shimmer {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: skew(30deg);
    background-color: rgba(255, 255, 255, 0.5);
    animation: move 1s linear infinite;
    width: 10%;
  }

  @keyframes move {
    from {
      left: -50%;
    }
    to {
      left: 150%;
    }
  }
}

@media screen and (max-width: 768px) {
  .article-section {
    .article-header {
      position: relative;

      .mobile {
        display: block;
      }
    }
    .article-list ul {
      flex-direction: column;

      li {
        width: 100%;
        margin: 8px 0;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .article-section {
    .article-header {
      .article-header-item {
        font-size: 12.8px;
      }
    }
    .article-list ul {
      li {
        flex-direction: column;

        .image-item {
          width: 100%;
          height: 100px;
        }
      }
    }
  }
}
