<div class="row col-10 offset-1 mt-5" *ngIf="!checkLoad" style="padding-bottom: 90px;">
  <form [formGroup]="newArticle" class="form-group">
    <input
      type="text"
      formControlName="title"
      class="form-control my-3"
      placeholder="Article Title"
      required
    />
    <div
      *ngIf="
        newArticle.controls['title'].invalid &&
        (newArticle.controls['title'].dirty ||
          newArticle.controls['title'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="newArticle.controls['title'].errors?.['required']">
        Title is Required!
      </div>
    </div>
    <div *ngIf="errorTitle" class="alert alert-danger">
      Title is duplicate!
    </div>
    <input
      type="text"
      formControlName="description"
      class="form-control my-3"
      placeholder="What's this article about?"
      required
    />
    <div
      *ngIf="
        newArticle.controls['description'].invalid &&
        (newArticle.controls['description'].dirty ||
          newArticle.controls['description'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="newArticle.controls['description'].errors?.['required']">
        Description is Required!
      </div>
    </div>
    <textarea
      type="text"
      formControlName="body"
      class="form-control my-3"
      placeholder="Write your article (in markdown)"
      rows="5"
      required
    ></textarea>
    <div
      *ngIf="
        newArticle.controls['body'].invalid &&
        (newArticle.controls['body'].dirty ||
          newArticle.controls['body'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="newArticle.controls['body'].errors?.['required']">
        Content is Required!
      </div>
    </div>
    <input
      type="text"
      formControlName="tag"
      class="form-control my-3"
      placeholder="Enter tags, start with hashtag. Example: #code#depzai"
    />
    <div class="text-end">
      <button class="btn btn-success" (click)="updateArticle()" [disabled]="newArticle.invalid">
        Publish Article
      </button>
    </div>
  </form>
</div>


<div class="mt-5 row col-10 offset-1" *ngIf="checkLoad">

  <div>
     <ngx-skeleton-loader
     count="1"
     appearance="line"
     animation="progress"
     [theme]="{
       'background-color': 'rgb(200 203 208)',
       height: '3vw',
       'border-radius': '10px'
     }"
    ></ngx-skeleton-loader>
   </div>
   <div>
     <ngx-skeleton-loader
     count="1"
     appearance="line"
     animation="progress"
     [theme]="{
       'background-color': 'rgb(200 203 208)',
       height: '3vw',
       'border-radius': '10px'
     }"
    ></ngx-skeleton-loader>
   </div>
   <div>
     <ngx-skeleton-loader
     count="1"
     appearance="line"
     animation="progress"
     [theme]="{
       'background-color': 'rgb(200 203 208)',
       height: '8vw',
       'border-radius': '10px'
     }"
    ></ngx-skeleton-loader>
   </div>
   <div>
     <ngx-skeleton-loader
     count="1"
     appearance="line"
     animation="progress"
     [theme]="{
       'background-color': 'rgb(200 203 208)',
       height: '3vw',
       'border-radius': '10px'
     }"
    ></ngx-skeleton-loader>
   </div>
   <div class="row col-3 offset-9">
      <ngx-skeleton-loader
      count="1"
      appearance="line"
      animation="progress"
      [theme]="{
        'background-color': 'rgb(122, 187, 102)',
        height: '2.5vw',
        'border-radius': '10px'
      }"
      class="ms-2"
     ></ngx-skeleton-loader>
   </div>
</div>